<!-- views/editUser.ejs -->
<%- include('layout', { title: 'Edit User' }) %>
<div class="container">
    <h1>Edit User</h1>
    <form action="/users/<%= user.id %>/update" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <!-- <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="role" class="form-control" id="role" name="role" value="<%= user.role %>" required>
        </div> -->
        <!-- <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="<%= user.password %>" required>
        </div> -->
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
